/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00b8fe;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-varient: rgb(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-sm: 80%;
    --container-width-md: 90%;
    --container-width-lg: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


/* ====================Navbar==================== */
nav {
    background-color: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* change navbar style on scrolling in javascript */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-container .nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-bg2);
}

/* ====================End Navbar==================== */

/* ====================Header==================== */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2rem 0;
}

/* ====================End Header==================== */

/* ====================Category==================== */
.category {
    background: var(--color-bg1);
    width: 100vw;
    height: 29rem;
}

.category h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.category-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.category-left {
    margin-right: 3rem;
}

.category-left p {
    margin: 1rem 0 3rem 0;
}

.category-right {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
}

.category-right article {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category-right article:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
}


.category-right article:nth-child(2) span {
    background: var(--color-danger);
}

.category-right article:nth-child(3) span {
    background: var(--color-success);
}

.category-right article:nth-child(4) span {
    background: var(--color-warning);
}

.category-right article:nth-child(5) span {
    background: var(--color-success);
}

.category-right article span {
    padding: 0.7rem;
    background: var(--color-primary);
    border-radius: 0.9rem;
}


.category-right article h5 {
    margin: 2rem 0 1rem;
}

.category-right article p {
    font-size: 0.8rem;
}

/* ====================End Category==================== */

/* ==================== Course==================== */
.course {
    margin-top: 10rem;
}

.course .course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course-container article {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course-container article:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course-container .course-info {
    padding: 2rem;
}

.course-info p {
    margin: 1rem 0 2rem 0;
    font-size: 0.9rem;
}

/* ====================End Course==================== */

/* ==================== Faq==================== */
.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.faqs .faq {
    background: var(--color-primary);
    padding: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: fit-content;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq i {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    display: none;
    font-size: 0.9rem;
}

.faq.open p {
    display: block;
}

/* ====================End Faq==================== */